<div class="container">
  <div class="login-box">
    <form class="form-horizontal" action="/users" method="post">
      <div class="form-group">
        <label for="nickname" class="control-label"><%= User.han(:nickname) %></label>
        <div>
          <input type="text" class="form-control" id="nickname" name="nickname">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label"><%= User.han(:email) %></label>
        <div>
          <input type="text" class="form-control" id="email" name="email">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="control-label"><%= User.han(:password) %></label>
        <div>
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default"><%= t('sign_up') %></button>
        <a href="/sessions/new" class="pull-right"><%= t('sign_in') %></a>
      </div>
    </form>
  </div>
</div>